<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stream your favourite movies</title>
    <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<center>
<h1 align="center">Movieflix</h1>
<video   controls="controls" autoplay="autoplay">
    <source src="{{link}}" type="video/mp4">
</video>

</center>
</body>
</html>